/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-PressStart2P: "PressStart2P", sans-serif;
  --font-family-Inter: "Inter", sans-serif;
  --main-color: #fff;
  --accent-color: #000;
  --button-timing: 0.5s ease-in-out;
  --common-gap: 8px;
  --button-width: clamp(306px, 355px, 355px);
  --button-height: 55px;
  --button-margin: 0 auto 103px auto;
  --border-width: 2px;
  --icon-size: 21px;
}
