/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*шрифты*/
  --accent-font: "PressStart2P", fantasy;
  --main-font: "Inter", sans-serif;
  --font-size: 18px;
  --font-size-button: 14px;
  --normal-weight: 400;
  --normal-line-height: 21px;

  /*Основные цвета*/
  --main-color: #fff;
  --accent-color: #000;
  --heart-color: red;

  /*Анимация и временные апараметры*/
  --button-timing: 0.5s ease-in-out;

  /*Размеры кнопок и иконки*/
  --button-height: 55px;
  --border-width: 2px;
  --icon-size: 21px;

  /*Отступы и интервалы*/
  --common-gap: 8px;
  --button-margin: 0 auto 103px auto;
}
